{% extends "themes/main.html" %}

{% block title %}Library Management System{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron mt-5">
        <h1 class="display-4 text-light">Welcome to the Library Management System</h1>
        <p class="lead text-light">Manage your library collection efficiently with our system.</p>
        <hr class="my-4 text-light">
        <p class = "text-light">Explore our collection, borrow books, leave reviews, and much more!</p>
        <a class="btn btn-primary btn-lg" href="{% url 'login-link' %}" role="button">Login</a>
        <a class="btn btn-success btn-lg ml-3" href="{% url 'register-link' %}" role="button">Register</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
