{% extends "themes/main.html" %}
{% block title %}Log In{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class = "row justify-content-center">
        <div class="col-md-6 bg-secondary">
            <div class="p-3">
                <h4 class="text-light">LOG IN</h4>
                <hr>
                <form method= 'POST' >
                    <div class="p-3">
                        {%csrf_token%}
                        {{form| crispy}}
                    </div>   
                  <input class="btn btn-success" type="submit" value="SIGN IN"> 
                </form>
            </div>

        </div>
    </div>

{% endblock content %}

