{% extends "themes/main.html" %}
{% block title %}ADD GENRE{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class = "row justify-content-center m-5">
        <div class="col-md-6 bg-secondary">
            <div class="p-3">
                <h4 class="text-light">ADD GENRE</h4>
                <hr>
                <form method = 'POST' name="add_genre">
                    <div class="p-3">
                        {%csrf_token%}
                        {{genreform| crispy}}
                    </div>   
                <input class="btn btn-success" type="submit" value="ADD" name="add_genre"> 
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}