{% extends "themes/main.html" %} {% block content %}

  {% if messages %} {% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}

<div class="container">
  <div class="bg-secondary p-3 rounded-3 m-3">
    <h1 class="display-4">Wellcome {{user.first_name}}</h1>
    <p class="lead">
      The One Thing You Absolutely Need To Know Is The Location Of The Library!
    </p>
    <hr class="my-4" />
    <h4>Loaned Books</h4>
    <div class="row">
      {% for loan in loans %}
      <div class="col-sm-2 mb-2 mb-sm-0">
        <div class="card bg-warning">
          <div class="card-body">
            {% if loan.user.id == user.id %}
            <hr>
            <h5 class="card-title">{{loan.book.Title}}</h5>
            <p><small>due for: {{loan.return_date}}</small></p>
            <a class="btn btn-primary btn-md mx-2" href="{% url 'req-link' loan.id %}" role="button">RETURN</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
  <hr class = "text-light">
    {% for book in books %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card p-2 m-2 bg-secondary">
        <img
          src="{{book.cover.url}}"
          class="card-img-top"
          alt="{{ book.Title }}"
          style="max-height: 300px"
        />
        <div class="card-body" style="max-height: 300px">
          <h5 class="card-title text-light">{{ book.Title }}</h5>
          <p class="card-text">Author: {{ book.author.Author_name }}</p>
          <p>Publisher: {{ book.publisher.Publisher_name }}</p>
          <p>Publication year: {{ book.Publication_year }}</p>
          <a href="{%url 'loan-book-link' book.id%}" class="btn btn-primary"
            >Loan</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
