{% extends "themes/main.html" %}
{% block title %}Return Requests{% endblock title %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Requests</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>User</th>
                                    <th>Fine Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for req in reqs %}
                                <tr>
                                    <td>{{ req.loan.book.Title }}</td>
                                    <td>{{ req.loan.user.username }}</td>
                                    <td>{{req.fine.amount}}</td>
                                    <td><a class="btn btn-primary btn-md mx-2" href="{% url 'return_req-link' req.loan.id %}" role="button">Grant Request</a></td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}