{% extends "themes/main.html" %}
{% block title %}STAFF{% endblock title %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

    <div class = "container">
    <div class="bg-secondary p-3 rounded-3 m-3">
    <h1 class="display-4">Wellcome {{user.first_name}}</h1>
    <p class="lead">With Great Power Comes Great Resposibility!</p>
    <hr class="my-4">
    <br>
    <a class="btn btn-primary btn-md mx-2" href="{% url 'addGenre-link' %}" role="button">ADD GENRE</a>
    <a class="btn btn-primary btn-md mx-2" href="{% url 'addBook-link' %}" role="button">ADD BOOK</a>
    <a class="btn btn-primary btn-md mx-2" href="{% url 'addAuthor-link' %}" role="button">ADD AUTHOR</a>
    <a class="btn btn-primary btn-md mx-2" href="{% url 'addPublisher-link' %}" role="button">ADD PUBLISHER</a>
    <a class="btn btn-primary btn-md mx-2" href="{% url 'loaned-book-link' %}" role="button">LOANED BOOKS</a>
    <a class="btn btn-primary btn-md mx-2" href="{% url 'req_page-link' %}" role="button">RETURN REQUESTS</a>
    </div>

    <div class = "row">
        {% for book in books %}
            <div class = "col-lg-3 col-md-4 col-sm-6">
                <div class="card p-2 m-2 bg-secondary" >
                    <img src="{{book.cover.url}}" class="card-img-top" alt="{{ book.Title }}" style="max-height: 300px;">
                        <div class="card-body" style="max-height: 300px;">
                        <h5 class="card-title text-light">{{ book.Title }}</h5>
                        <p class="card-text">Author: {{ book.author.Author_name }}</p>
                        <p>Publisher: {{ book.publisher.Publisher_name }}</p>
                        <p>Publication year: {{ book.Publication_year }}</p>
                        <a href="{%url 'loan-link' book.id%}" class="btn btn-primary">Delete</a>
                        <a href="{%url 'loan-link' book.id%}" class="btn btn-primary">Update</a>
                        </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
{% endblock content %}